# Archivos y directorios específicos de Django
*.log
*.pot
*.pyc
__pycache__/
media/

# Archivos y directorios generados por el sistema operativo
.DS_Store
Thumbs.db

# Archivos y directorios de entornos virtuales
venv/
env/

# Archivos de configuración local
.env

# Otros archivos y directorios personalizados que desees ignorar
